.br-left{
    border: 1px solid #ECECEC;
}

.name .name-product{
    font-size: 40px;
    font-weight: 700;
}

.name-product .product-terms{
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 17px;
    font-size: 14px;
}

.name-product small{
    display: block;
    font-weight: 300;
}

.name-product small a{
    color: #888888;
}

.font-price{
    font-size: 28px;
    font-weight: 700;
    color: #d33;
}

.btn-orange{
    background-color: #f77427;
    color: #FFFFFF;
}

.btn-orange:hover{
    background-color: #F78727;
    color: #FFFFFF;
}

.danh-muc{
    margin-top: 30px;
}

.danh-muc span{
    display: block;
    color: #C6C6C6;
    margin: 5px 0;
    font-size: 14px;
}

.danh-muc span a{
    color: black;
    font-weight: 400;
}

.danh-muc span a:hover{
    color: #A189B8;
}

.share-post h3{
    display: inline-block;
    font-size: 16px;
    color: #C6C6C6;
}

.share-product{
    display: inline-block;
}

.share-product a{
    color: black;
    display: inline-block;
    padding: 2px 10px;
    margin: 2px;
}

.btn-eeeeee, .input-eeeeee{
    background-color: #EEEEEE!important;
    border: 0px;
}

.input-eeeeee:hover{
    background-color: #EEEEEE;
}

.top-0{
    top: 0;
    display: block;
}

.top-0 li{
    width: 100%;
    height: auto;
}

div.stars {
    width: 270px;
    display: inline-block;
  }
   
  input.star { display: none; }
   
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }
   
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
   
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
   
  input.star-1:checked ~ label.star:before { color: #F62; }
   
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
   
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }