.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}


/*Header Top*/

.header-top-color {
    background-color: #0C1C35;
}

.nav>li>a {
    color: #ffffff;
    font-size: 13px;
}

.diriver-left {
    border-width: 0px 0px 0px 2px;
    border-color: #ffffff;
    border-style: solid;
    padding: 0px;
}


/*Header Bottom*/

.container>.navbar {
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.img-logo {
    width: 80px;
    height: 80px;
}

.dropdown-menu-navbar {
    top: 210%;
    border-width: 0px;
    border-radius: 0px;
}

.dropdown-menu-navbar>a {
    font-weight: bold;
}

.dropdown-menu-navbar>a:hover {
    color: #ffffff;
    background-color: #000000;
}

.navbar-nav>li>a {
    font-weight: 700;
    font-size: 17px;
}

.active>.nav-link {
    color: red !important;
}

.nav-item>.nav-link-bot:hover {
    background-color: #F7F7F7;
    color: red !important;
}

.dropdown-search,
.from-search {
    padding: 0px;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.dropdown-shop-bag {
    display: none;
}

.shop-bag:hover>.dropdown-shop-bag {
    display: block;
}


/*Slide*/

.btn-shop-now:hover {
    color: #f8f9fa;
    background-color: unset;
}


/*Style*/

.href-style-img {
    height: 90%;
    width: 99%;
    overflow: hidden;
    margin: 15px 0px;
}

.style-img {
    width: 100%;
    height: 100%;
}

.href-style-img .style-img {
    transition: transform .4s ease-out;
}

.href-style-img:hover .style-img {
    transform: scale(1.1);
}

.text-style-img {
    position: absolute;
    bottom: 10%;
    left: 15%;
    color: #0C1C35;
    font-size: 30px;
}

.text-style-img strong {
    font-weight: 300;
    display: block;
}


/*Slide Products*/

.title-container {
    font-weight: 400;
    padding-right: 24px;
}

.title-divider {
    height: 1px;
    position: relative;
    flex: 1 1 auto;
    min-width: 10%;
}

.title-divider-l,
.title-divider-r {
    display: block;
    position: relative;
    top: 13px;
    height: 1px;
    border: .75px solid #ebebeb;
    width: 100%;
}

.title-divider-d-none {
    display: none;
}

.owl-dots {
    display: none;
}

.img-product>a #img-product-b {
    width: 100%;
}

.img-product>a #img-product-h {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px 0;
    overflow: hidden;
    transition: all .25s linear;
}

.img-product a #img-product-h {
    width: 100%;
    opacity: 0;
    padding: 20px;
}

.img-product:hover a #img-product-h {
    opacity: 1;
}

.add-to-cart,
.title-product {
    color: #000000;
}

.body-product h3 {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 25px;
}

.title-product {
    font-weight: 500;
    font-size: 15px;
    text-transform: none!important;
}

.body-product .title-product-hover {
    font-size: 14px;
}

.body-product .title-product-hover:hover {
    color: red;
}

.body-product {
    position: relative;
    display: block;
}

.body-product .add-to-cart {
    position: absolute;
    top: 35px;
    right: 1px;
    text-decoration: none;
}

.add-to-cart:hover,
.title-product:hover {
    color: #000000;
}

.price {
    display: table;
    direction: rtl;
}

.number-price,
.unit-price {
    font-size: 15px;
    font-weight: bold;
}

.unit-price {
    text-decoration: underline;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 35%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #0C1C35!important;
    color: #FFF;
    text-decoration: none;
}

.owl-prev {
    left: 0;
}

.owl-nav .owl-next {
    right: 0;
}

.btn-color-default {
    color: #0C1C35;
    border-color: #0C1C35;
}

.btn-color-default:hover {
    color: #ffffff;
    background-color: #0C1C35;
    border-color: #0C1C35;
}


/*Card Image*/

.card-img-big {
    border: 0px;
    border-radius: 0px;
}

.card-img-overflow {
    position: absolute;
    overflow: hidden;
}

.card-img-overflow .row {
    position: relative;
    bottom: 0;
}

.card-img-small {
    position: relative;
    top: 25%;
    width: 50%;
}


/*Fell Customer*/

.carousel-indicators li {
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.img-cus {
    border-radius: 50%;
}

.mb-ct cite {
    font-style: normal;
    color: #888;
    font-size: 12px;
    font-weight: 300;
}


/*Footer*/

.footer {
    background-color: #0C1C35;
}

.text-footer {
    font-weight: 300;
    color: #ffffff;
}

.text-footer h3 {
    font-size: 17px;
    color: #ffffff;
}

.text-footer .ul-1,
.text-footer .ul-2,
.text-footer .ul-3 {
    padding: 0px;
    list-style-type: none;
}

.text-footer .ul-1 {
    font-size: 15px;
}

.text-footer .ul-2 {
    font-size: 17px;
}

.text-footer .ul-3 {
    display: flex;
}

.text-footer .ul-1 li a,
.text-footer .ul-2 li span,
.text-footer .ul-3 li a {
    color: #ffffff;
}

.text-footer .ul-3 li a {
    margin: 5px;
}

.text-footer .text-footer-p,
.text-footer .text-footer-em {
    color: #ffffff;
    margin: 0px;
}

.text-footer .text-footer-em {
    font-size: 13px;
}

.footer-bot {
    border-top: 1px solid #F7F7F7;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-bot p {
    margin: 0px;
}

.link-red {
    color: black;
}

.link-red:hover {
    color: red;
}

.about p {
    font-weight: 500;
}

.page-title {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.page-title h3 {
    text-transform: uppercase;
    font-weight: 300;
}

h3 small {
    font-size: 14px;
}

.contact-form .form-control {
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 0;
}

.contact-form input[type=text] {
    width: 50%;
}

.contact-form textarea {
    box-sizing: border-box;
    float: none;
    height: 200px;
    margin-bottom: .75em;
    width: 100%;
}

.send-message {
    border: none;
    background-color: #d33;
}

.send-message:hover {
    background-color: black;
}

.pull-right {
    float: right;
}

.terms-of-use h2 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 300;
}

.terms-of-use p,
.terms-of-use ul li {
    font-size: 14px;
}


/* login */

.login-page {
    background: #212529;
    background-repeat: repeat-y;
}

.x {
    display: none;
}

.vertical-middle th,
.vertical-middle thead th,
.vertical-middle td {
    vertical-align: middle;
}

.slick-dots {
    display: none !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}

.from-admin {
    border-radius: .25rem;
    background-color: #d33;
    margin-top: 20%;
    margin-left: 25%;
    margin-right: 25%;
}

.border-login,
.border-registration {
    background-color: #0C1C35;
    color: white;
    border-radius: .25rem;
    box-shadow: 0 10px 16px 0 #adb5bd, 0 6px 20px 0 #adb5bd;
}

.border-login-admin {
    box-shadow: 0 10px 16px 0 #727272, 0 6px 20px 0 #565656;
}

.menu-admin {
    background: #0C1C35;
    background-repeat: repeat-y;
    height: 110vh;
}

.post-image {
    border: 0px solid white;
}